html{
    height: 100%;
}
body{
    font-family:"dejavu sans","arial",sans-Serif;
    font-size: 82%;
    margin: 2px;
    height:100%;
}
#mapdiv {
    width:100%;
    height:100%;
    border: solid 0px black;
}
.overlay {
    position:absolute; 
    padding: 6px 8px;
    font: 18px Arial, Helvetica, sans-serif;
    color: #223;
    background-color:rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
#wait {
    bottom: 50px;
    right: 40px;
    display: none;
    background-color:rgba(255,100,100,0.8);
}
.title {
    top:10px;
    left:50px;
    font: 30px Arial, Helvetica, sans-serif;
    background-color:rgba(100,100,255,0.8);
}
